@font-face {
    font-family: "Digi Delbar";
    src: url(./fonts/DelbarBold.ttf);
}

@font-face {
    font-family: "Digi Gaf";
    src: url(./fonts/GafBold.ttf);
}


@font-face {
font-family: "B Yekan";
src: url(./fonts/BYekan.ttf);
}